body {
    background-color: #101010;
    color: white;
    margin: 0 auto;
}

a {
    color: white;
}

.navbar{
    background-color: #101010;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 15px 20px;
    overflow: hidden;
}

.navbar ul {
    display: inline-block;
    list-style-type: none;
}

.navbar a {
    text-align: center;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;

}

.navbar a:hover {
    background-color: #00BFFF;
    border-radius: 30px;
    height: 25px;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

@media screen and (max-width: 600px) {
    .navbar a{
      float: none;
      display: block;
    }
  
    .navbar a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}

/* tweet creation */

.creation{
    flex: 0.5;
    min-width: fit-content;
    max-width: 600px;
}

/* tweet */

.tweet {
    padding-bottom: 10px;
    border-bottom: 8-x solid var(--twitter-background);
    padding-right: 10px;
}

.tweet form {
    display: flex;
    flex-direction: column;
}

.tweetInput, .tweetImg{
    display: flex;
    padding: 20px;
}

.tweetInput input, .tweetImg input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBtn {
    background-color: #00BFFF;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border-radius: 30px;
    width: 120px;
    height: 60px;
    margin-top: 20px;
    margin-left: auto;
}

.tweetBtn:hover {
    background-color: #00bfffd5;
}

.post{
    display: flex;
    align-items: flex-start;
    border: 1px solid #A0A0A0;
    padding-bottom: 10px;
    min-width: 620px;
    max-width: 620px;
}

.postBody img{
    width: 600px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 5px;
}

.postAuthor h3{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.postContent {
    margin-bottom: 10px;
    font-size: 15px;
}

.postBody {
    flex: 1;
    padding: 10px;
}

.tweets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.followBtn, .unfollowBtn, .likeBtn, .unlikeBtn, .deleteBtn, .editBtn {
    border-radius: 20px;
    width: 120px;
    height: 60px;
}

.unfollowBtn, .unlikeBtn, .deleteBtn{
    background-color: #101010;
    color: white;
    border: 1px solid white;
}

.followBtn:hover, .likeBtn:hover, .editBtn:hover {
    background-color: #E0E0E0;
}

.unfollowBtn:hover, .unlikeBtn:hover, .deleteBtn:hover {
    color: red;
    border: 1px solid red;
}

.routeBtns {
    display: flex;
}

.loginBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginBtns button {
    border-radius: 30px;
    height: 80px;
    width: 200px;
    margin-right: 5px;
    background-color: #101010;
    color: #4682B4;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid grey;
}

.loginBtns button:hover {
    background-color: #303030;
}

fieldset {
    border: none;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sign-in h2 {
    color: #4682B4;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in input, .signup-form input {
    border-radius: 30px;
    width: 120px;
    height: 30px;
}

.signup-form input {
    background-color: white;
    color: black;
}

.signup-form input:hover {
    background-color: #A0A0A0;
}
